.git
.github
.dvc
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.ruff_cache
.venv
venv
env

notebooks
tests
reports

logs/*
mlruns/*
artifacts/reports/*
artifacts/metrics/*
artifacts/optuna/*

*.zip
*.tar
*.tar.gz

.DS_Store
.env
